@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Hello</h1>
        @{ 
            string a = "George";
            int x = 20;
        }
        @{ 
            int y = 40;
        }
        @a
    <p id="@a">Sum of (x+y) = @(x+y)</p>

        @{ 

        }
    </div>
</body>
</html>
