@model IEnumerable<RecipesEShop.Models.Category>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name @item.Description <a href="/MainCategories/Edit/@item.Name">Edit</a></li>
        }
    </ul>






